{% extends './index.html' %}
{% block content %}
	    <div class="b ">
	    	<img src="./assets/img/3.svg " alt=" ">
	        <span><h1 > Bài 1</h1></span>
	    </div>

	    <div class="chil ">
	    	<ul>
	            <h1><a href="./_1.jpg">#include</a></h1>
				<li style="color: black">using namespace std;</li>
	            <li style="color: black">int main(){</li>
	            <li style="color: black">int a, b, c;</li>
	            <li style="color: black">cout </li>
	            <li style="color: black">cin >> a;<iostream></li>
	        </ul>
	    </div>
{% endblock %}